@import "tailwindcss";

@theme {
    /* colores */
    --color-primary: #80f;
    --color-primary-light: #ceecff;
    --color-primary-dark: rgb(0, 22, 83);
    --color-midu-lol: rgb(209, 217, 218);

    /* Breakpoints*/
    --breakpoint-xs: 350px;
}

.social-button {
    @apply p-2 size-10 xs:size-12 flex items-center justify-center rounded-full hover:scale-110 transition-transform;
}